.Contact {
	background-image: url("/images/contact-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100vw;
	min-height: 100vh;
	width: 100vw;
}

.Contact__inner {
	max-width: 1200px;
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
}

.Contact form {
	border: 2px solid #f6b531;
	padding: 50px 70px;
	text-align: center;
}

.Contact input {
	padding: 11px 38px;
	background: linear-gradient(
		102.66deg,
		#ffdb63 31.25%,
		#f4df9b 66.82%,
		#fec450 96.93%
	);
	border: none;
	outline: none;
	font-size: 22px;
	line-height: 28px;
	font-family: "Inika";
	color: #00000070;
	margin: auto;
	margin-bottom: 15px;
	display: block;
}

.Contact input::placeholder {
	color: #00000070;
}

.Contact h2 {
	position: relative;
	color: #f5b6384f;
	font-size: 128px;
	line-height: 160px;
	font-weight: 700;
	font-family: "IM FELL Double Pica";
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffcd2966;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.Contact h2:after {
	position: absolute;
	content: "ĐĂNG KÝ NHẬN TƯ VẤN";
	text-transform: uppercase;
	bottom: -15%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 40px;
	line-height: 60px;
	color: #d7bf7e;
	font-weight: 300;
}

.Contact p {
	font-size: 24px;
	line-height: 36px;
	color: white;
	text-align: center;
	margin: auto;
}
