.documentPage > div:first-child {
  background-image: url("../../public/assits/hinh-nen-thanh-pho.jpg");
  height: 740px;
  width: 100%;
  background-size: cover;
}

.documentPage > div:first-child > strong:last-child {
  font-family: "IM FELL Double Pica";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 120px;
  text-align: center;
  letter-spacing: -0.019em;
  color: #efcd7f;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
