:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --main-black: #101422;
  --main-white: #fff;
  --main-gold: #e0a447;
  --main-brown: #bb9352;
  --main-yellow: #efcd7f; 

  --primary-background: linear-gradient(54deg, #E0A23B 0%, #F4ED93 18.23%, #FCB045 51.16%, #F4ED93 82.29%, #E0A23B 99.99%, #F4ED93 100%);
  --secondary-background: linear-gradient(102.66deg, #FFDB63 31.25%, #F4DF9B 66.82%, #FEC450 96.93%);
}

@font-face {
  font-family: "Rozanova";
  src: url('/fonts/rozanova/RozanovaGEO-Demo-Thin.otf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}
